* {
    font-family: Helvetica, Verdana, sans-serif;
    color: #333;
}
a, a:link {
    color: blue;
}
#luisterpaal {
    display: none;
}
#content {
    position: absolute;
    top: 0;
    background: white;
    height: 100%
}
button, input[type=submit] {
    font-size: 1em;
}
