* {
    font-family: Helvetica, Verdana, sans-serif;
    color: #333;
}
#luisterpaal {
    display: none;
}
#content {
    position: absolute;
    top: 0;
}
button, input[type=submit] {
    font-size: 1em;
}
